{% include 'header.html'%}



        <section id="main-section">

            <div id="formdiv">
                <form id="textboxform" action="/textupdate" method="post">
                    <div id="formlabels">
                        <h2 id="formheader"> Tittel: {{ doc[1] }}</h2>
                        <h3 id="formheader2"> Author: {{ doc[2] }} </h3>
                    </div>
                    <div class="col-md-2">
                        <input id="idid" name="ID" type="text" class="form-control input-md" value="{{ doc[0] }}">
                        </div>
                    <br/>

                    <textarea id="myeditablediv" name="myeditablediv" class="myeditablediv">{{ doc[3] }}</textarea>

                    <div id="button-row">
                        <input onclick="submitForm()" value="Update text" class="btn btn-success"/>
                    </div>

                </form>
            </div>
            

            <div id="result">
            </div>
        </section>



{% include 'footer.html'%}


</body>
</html>

<script language="Javascript">
    

    function submitForm() { 
        tinyMCE.triggerSave();
       document.getElementById("textboxform").submit();

}

</script>